.review {
    box-sizing: border-box;

    font-family: 'Inter';
    padding : 25px;
    font-style: normal;
    span {
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: left;
        gap : 20px;
        h2{
            font-weight: 700;
            font-size: 32px;
            line-height: 34px;
            color: #161616;
            align-self: end;
            margin : 0;
        }

        p{
            margin : 0;
            align-self: end;
            // line-height: 34px;
        }
    }

    img{
        margin-top: 40px;
    }

    .review_star{
        gap : 0;
        img{
            margin-top: 10px;
        }
    }

    .comment_details{
        span{
            gap: 8px;
            .back{
                color: gray;
            }
        }

        hr{
            margin: 40px 0 10px;
        }
    }
}