.host-van-details {
    background-color: white;
    box-sizing: border-box;
    padding: 10px  20px;
    margin-top: 0;
    h4 {
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        span {
            font-weight: 500;
        }
    }

}