.hostVanDetails {
    box-sizing: border-box;
    padding: 20px;

    a {
        font-weight: 500;
        font-size: 15.9462px;
        line-height: 23px;
        text-decoration-line: underline;
        color: #201F1D;
    }


    .commenSection {
        background: #FFFFFF;
        padding:20px 20px 1px;
        margin-top: 30px;
        .vanDetails {
            box-sizing: border-box;
            display: flex;
            align-items: center;
            width: 496px;
            gap: 20px;
            border-radius: 6px;
            margin-bottom: 30px;

            img {
                width: 160.15px;
                height: 157.9px;
                border-radius: 5px;
            }

            .info {
                display: flex;
                flex-direction: column;
                gap: 7px;
                justify-content: center;

                // align-items: center;
                .type {
                    width: 85.71px;
                    height: 33.89px;
                    border-radius: 5px;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 32px;
                    text-align: center;
                    color: #FFEAD0;
                    margin: 0;
                }

                .typesimple {
                    background: #E17654;
                }

                .typerugged {
                    background-color: #115E59;
                }

                .typeluxury {
                    background-color: #161616;
                }

                h1 {
                    margin: 0;
                }

                h4 {
                    font-weight: 700;
                    font-size: 19.5437px;
                    line-height: 36px;
                    color: #161616;
                    margin: 0;
                }
            }
        }

        .host_nav {
            margin: 0 ;

            a {
                text-decoration: none;
                font-weight: 500;
                font-size: 16.1492px;
                line-height: 21px;
                color: #4D4D4D;
                margin-right: 20px;

                &:hover {
                    cursor: pointer;
                    text-decoration-line: underline;
                    color: #161616;
                }
        
                
            }

            .Active-nav{
                text-decoration-line: underline;
                color: #161616;
            }
        }
    }
}
