.vans {
    box-sizing: border-box;
    width: 548.15px;

    .van-body {
        padding: 0 25px 25px;
        background-color: #FFF7ED;

        h1 {
            font-weight: 700;
            font-size: 32px;
            line-height: 34px;
            color: #161616;
            margin-bottom: 45px;
        }

        .filter {
            display: flex;
            gap : 1.2rem;

            .filter-button {
                height: 34px;
                padding: 6px 26px;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                border: none;
                border-radius: 5px;
                background-color: #FFEAD0;
                color: #4D4D4D;
                transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
                align-items: center;
                display: flex;
            }

            .simple, .simple-hover:hover {
                background-color: #E17654;
                color: #FFEAD0;
            }

            .rugged, .rugged-hover:hover {
                background-color: #115E59;
                color: #FFEAD0;
            }

            .luxury, .luxury-hover:hover {
                background-color: #161616;
                color: #FFEAD0;
            }
            
            .clearfilter {
                align-items: center;
                display: flex;
                font-size: 16px;
                margin-left: -20px;
                height: 34px;
                padding: 6px 26px;
                font-style: normal;
                font-weight: 500;
                border: none;
                border-radius: 5px;
                text-decoration: underline;
                background-color: transparent;
                color: #4D4D4D;
            }
        }



        .vans-details {
            margin-top: 40px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;

            a {
                text-decoration: none;
                color: inherit;

                img {
                    width: 229.23px;
                    height: 229.23px;
                    border-radius: 5px;
                }

                .details {
                    // height: 50px;
                    width: 229.23px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .left {
                        h2 {
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 32px;
                            color: #161616;
                        }
                    }

                    .right {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        p {
                            font-weight: 600;
                            font-size: 15px;
                            line-height: 32px;
                            text-align: right;
                            color: #161616;

                        }
                    }
                }

                .type {
                    width: 80px;
                    height: 28.9px;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 32px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                    border-radius: 5px;
                    color: #FFEAD0;
                }

                .typesimple {
                    background-color: #E17654;
                }

                .typerugged {
                    background-color: #115E59;
                }

                .typeluxury {
                    background-color: #161616;
                }
            }
        }
    }
}